@using InvoiceCalendar.WebUI.HtmlHelpers;
@model InvoiceCalendar.WebUI.Models.InvoicesListViewModel

@{
    ViewBag.Title = "Faktury";
}

@foreach (var i in Model.Invoices)
{
    @Html.Partial("InvoiceSummary", i);
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

