@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>

<address>
    Warszawa<br />
    <abbr title="Phone">Tel.</abbr>
    xxx.yyy.zzz
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:smth123123123123123@protonmail.com">smth123123123123123@protonmail.com</a><br />
</address>
