@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>

<address>
    Warszawa<br />
    <abbr title="Phone">Tel.</abbr>
    508.909.409
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:konrad.niedzwiedzki@protonmail.com">konrad.niedzwiedzki@protonmail.com</a><br />
</address>
